<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в систему — Администратор</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/script.js"></script>
</head>
    <body>
        <div class="container">
            <div class="login-card">
                <h1 class="login-title">Вход администратора</h1>
                <form id="loginForm" class="main-form">
                    <div class="form-group">
                        <label for="username">Логин</label>
                        <input type="text" id="username" class="input-text" placeholder="Введите логин" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password" id="password" class="input-text" placeholder="Введите пароль" required>
                    </div>
                    <button type="submit" class="btn-action">Войти</button>
                    <div id="errorMessage" class="error-message"></div>
                </form>
            </div>
        </div>
    </body>
</html>
